* {
    margin : 0;
    padding : 0;
}

a {
    display : inline-block;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

ol, ul {
    list-style     : none;
    list-style-type: none;
}

.row {
    display : flex;
    justify-content: space-between;
}

.column-1 {
    flex-basis: 4.85%;
}

.column-2 {
    flex-basis: 13.45%;
}

.column-3 {
    flex-basis: 22.05%;
}

.column-4 {
    flex-basis: 30.75%;
}

.column-5 {
    flex-basis: 39.45%;
}

.column-6 {
    flex-basis: 48%;
}

.column-7 {
    flex-basis: 56.75%;
}

.column-8 {
    flex-basis: 65.4%;
}

.column-9 {
    flex-basis: 74.05%;
}

.column-10 {
    flex-basis: 82.7%;
}

.column-11 {
    flex-basis: 91.35%;
}

.column-12 {
    flex-basis: 100%;
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0;
    }
    
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        flex-basis: 100%;
    }
}