body {
    background-color: black;
}
.mainContainer {
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

header {
    width : 100%;
    height: auto;
    
    max-width: 938px;
    min-width: 725px;
    margin: 0 auto;
    text-align: left;
}

header img {
    display: block;
}

main section img {
    margin-top: 201px;
    margin-left: 7%;
    width: 86%;
    height: auto;
    display: block;
}

main article img {
    display: block;
    margin-left: 12%;
    margin-top: 46px;
}